[Desktop Entry]
Name=Rheolwyr
Comment=Text Expander for GNOME/Cosmic
Exec=rheolwyr
Icon=com.taliskerman.rheolwyr
Terminal=false
Type=Application
Categories=Utility;TextTools;GTK;
Keywords=text;expander;snippet;
StartupNotify=true
StartupWMClass=com.taliskerman.rheolwyr
