Package: rheolwyr
Version: 0.3.0
Architecture: all
Maintainer: Chuck Talk <cwtalk1@gmail.com>
Installed-Size: 82
Depends: python3-gi, python3-pynput, python3:any, gir1.2-gtk-4.0, gir1.2-adw-1, xclip | wl-clipboard
Section: utils
Priority: optional
Homepage: https://github.com/TaliskerMan/rheolwyr
Description: Linux snippet manager
 Rheolwyr is a text expander and snippet manager designed for the modern Linux
 desktop (GNOME/Cosmic). It allows users to store and manage text snippets
 with support for keyboard triggers.
